[Unit]
Description=Backup services

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/systemctl stop nextcloud bitwarden reverse-proxy
ExecStart=/usr/bin/rsync -a --delete /nextcloud /bitwarden /reverse-proxy /backup
ExecStart=/usr/bin/systemctl start nextcloud bitwarden reverse-proxy

[Install]
WantedBy=multi-user.target