[Unit]
Description=Nextcloud
Requires=docker.service

[Service]
Restart=always
User=hexdump
WorkingDirectory=/nextcloud/nextcloud
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target